* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
  }
  
  #page-wrap {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .background {
    background-image: url("/homePage/bgWhite.jpg");
    background-size: cover;
    background-position: center;
}
.footerBg {
  color: white !important;
}